/* Box Sizing Start Here */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
/* Box Sizing End Here */

/* Google Font Style Start Here */
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Google Font Style End Here */

/* Nav Container Style Start Here */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.nav-contain {
  color: #0d1321;
  font-size: 28px;
  font-weight: 800;
}
.nav-button-contain .nav-button {
  padding: 12px 15px 12px 15px;
  color: #0d1321;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border-radius: 8px;
}
.nav-button-contain .nav-button a {
  text-decoration: none;
}

.nav-button-contain .nav-button a {
  color: #0d1321;
}
/* Nav Container Style End Here */

/* Banner Container Style Start Here */
.banner-container {
  max-width: 1440px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 48px;
  position: relative;
}
.banner-contain {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  margin-top: 26px;
  position: relative;
}
.banner-contain .banner-img {
  position: absolute;
  left: 40%;
}
.banner-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 53%;
}
.banner-description h1 {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
}
.banner-description p {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 34px;
}
.banner-description .banner-button {
  background-color: #0d1321;
  color: #fff;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 120%;
  left: 45%;
  text-decoration: none;
}
/* Banner Container Style End Here */

/* Developent-Container Style Start Here */
.development-container {
  width: 1140px;
  height: 1230px;
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  position: relative;
  background: rgba(13, 19, 33, 0.02);
}
.development-description {
  width: 946px;
  height: 1235px;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
}
.development-description h2 {
  position: absolute;
  left: 30%;
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
}
.development-description p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 6%;
  left: 6%;
  right: 5%;
  position: absolute;
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.development-group {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  position: relative;
  top: 15%;
  margin-top: 13px;
}
.developer-group-titlt {
  width: 477px;
  height: 220px;
  margin: 48px;
  position: relative;
}
.developer-group-titlt h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}
.developer-group-titlt h5 {
  margin-top: 16px;
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.developer-group-titlt .developer-group-button {
  margin-top: 32px;
  padding: 12px 20px 12px 20px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
}
.developer-group-titlt .developer-group-button a {
  color: #0d1321;
  text-decoration: none;
  opacity: 0.7;
}
.developer-group-titlt .developer-img {
  display: flex;
  position: absolute;
  left: 608px;
  bottom: -22px;
}
.development-group-2 {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  position: relative;
  top: 15%;
  margin-top: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.developer-group-titlt-1 {
  width: 477px;
  height: 220px;
  margin: 48px;
  position: absolute;
}
.developer-group-titlt-1 h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}
.developer-group-titlt-1 h5 {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.developer-group-titlt-1 .developer-group-button {
  margin-top: 32px;
  padding: 12px 20px 12px 20px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
}
.developer-group-titlt-1 .developer-group-button a {
  color: #0d1321;
  text-decoration: none;
  opacity: 0.7;
}
.developer-group-titlt-1 .developer-img-1 {
  display: flex;
  position: absolute;
  right: 610px;
  bottom: -22px;
}
/* Developent-Container Style End Here */
